<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Employee</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">

    <link rel="stylesheet" th:href="@{/css/style.css}">

</head>
<body>
    <div class="form-container">
        <h2>Add New Employee</h2>
        <form th:action="@{/admin/save-employee}" method="post">
            <input type="text" name="empId" placeholder="Employee ID (e.g., EMP001)" required />
            <input type="text" name="name" placeholder="Employee Name" required />
            <button type="submit">Add Employee</button>
        </form>
    </div>
</body>
</html>
