<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>QR Attendance System</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    
</head>
<body>
    <div th:replace="fragments/header :: header"></div>

    <div>
        <img src="/images/logo.png" alt="Logo" class="logo-center">
        <h1>📌 QR Attendance System</h1>
    </div>
    <div class="btn-container">
        <a href="/admin/employees" class="btn">👥 Manage Employees</a>
        <a href="/admin/attendance" class="btn">📋 View Attendance</a>
    </div>
    <!-- Insert footer -->
<div th:replace="fragments/footer :: footer"></div>

</body>
</html>
